<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="title-nav">{{stationBikeDetail.station}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>
      <ion-label><b>Current Bikes</b></ion-label>
    </ion-list-header>
    <ion-item-sliding *ngFor="let bike of stationBikeDetail.bikes; let i=index">
      <ion-item>
        <ion-label>{{bike.bike}}</ion-label>
        <ion-label>{{bike.kms}}</ion-label>
        <ion-label>{{bike.description}}</ion-label>
      </ion-item>
      <ion-item-options side="end">
        <ion-button (click)="presentAlert(bike._id, i)" color="danger">
          <ion-icon name="trash"></ion-icon>
        </ion-button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <ion-list>
    <ion-list-header>
      <ion-label><b>Unassigned Bikes</b></ion-label>
    </ion-list-header>
    <ion-item-sliding *ngFor="let bike of unassignedBikes; let i=index">
      <ion-item>
        <ion-label>{{bike.bike}}</ion-label>
        <ion-label>{{bike.kms}}</ion-label>
        <ion-label>{{bike.description}}</ion-label>
      </ion-item>
      <ion-item-options side="end">
        <ion-button (click)="addBikeStation(bike._id, i)" color="success">
          <ion-icon name="add"></ion-icon>
        </ion-button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
